/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.page-inner {
    background-color: #f4f4f4;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 70%; 
    min-width: 400px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

/* Form Layout */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left, .right {
    width: 48%;
}

p {
    margin: 5px 0;
    font-weight: bold;
    color: white;
}

.para {
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-strength {
    font-size: 12px;
    color: red;
}

.password-instructions {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

/* Buttons Container */
.button-container {
    display: flex;
    justify-content: space-between; /* Align buttons side by side */
    width: 100%;
}

button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 38%; 
    margin-left: 50px; 
    margin-right: 50px;
}

/* Add margin between buttons */
button[type="submit"] {
    background-color: #007bff; /* Blue background */
    color: white;
    margin-left: 10px; /* Add space on the left side */
}

button[type="reset"] {
    background-color: #dc3545; /* Red background */
    color: white;
    margin-right: 10px; /* Add space on the right side */
}
